PORT=4001
ENVIRONMENT=development
JWT_SECRATE_KEY=
MONGOURI=mongodb://localhost:27017
MONGO_DB_NAME=telephony_socket
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_CERT_URL=
